<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Car Dealer - The Best Car Dealer Automotive Responsive HTML5 Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Dealer Daihatsu | Contact</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" />

    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

    <!-- flaticon -->
    <link rel="stylesheet" type="text/css" href="/css/flaticon.css" />

    <!-- mega menu -->
    <link rel="stylesheet" type="text/css" href="/css/mega-menu/mega_menu.css" />

    <!-- mega menu -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />

    <!-- main style -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <!-- responsive -->
    <link rel="stylesheet" type="text/css" href="/css/responsive.css" />

</head>

<body>

    <!--=================================
  loading -->

    <div id="loading">
        <div id="loading-center">
            <img src="/images/loader.gif" alt="">
        </div>
    </div>

    <!--=================================
  loading -->


    <!--=================================
 header -->

    {{ partial "header.html" . }}

    <!--=================================
 header -->


    <!--=================================
 inner-intro -->

    <section class="inner-intro bg-1 bg-overlay-black-70">
        <div class="container">
            <div class="row text-center intro-title">
                <div class="col-md-6 text-md-left d-inline-block">
                    <h1 class="text-white">Contact us </h1>
                </div>
                <div class="col-md-6 text-md-right float-right">
                    <ul class="page-breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i>
                        </li>
                        <li><a href="#">pages</a> <i class="fa fa-angle-double-right"></i></li>
                        <li><span>Contact us 02</span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!--=================================
 inner-intro -->


    <!--=================================
 contact -->

    <section class="contact-2 page-section-ptb white-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 justify-content-center">
                    <div class="section-title">
                        <span>We’d Love to Hear From You</span>
                        <h2>LET'S GET IN TOUCH!</h2>
                        <div class="separator"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-sm-12 mb-lg-0 mb-1">
                    <div class="gray-form row">
                        <div class="col-md-12">
                            <form class="form-horizontal" id="contactform" role="form" method="post"
                                action="php/contact-form.php">
                                <h5>We have completed over a 1000+ projects for five hundred clients. Give us your next
                                    project.</h5>
                                <p>It would be great to hear from you! If you got any questions, please do not hesitate
                                    to send us a message. We are looking forward to hearing from you! We reply within 24
                                    hours !</p>
                                <div id="formmessage" class="form-notice" style="display:none;">Success/Error Message
                                    Goes Here</div>
                                <div class="contact-form">
                                    <div class="form-group">
                                        <input id="contactform_name" type="text" placeholder="Name*"
                                            class="form-control" name="name">
                                    </div>
                                    <div class="form-group">
                                        <input id="contactform_email" type="email" placeholder="Email*"
                                            class="form-control" name="email">
                                    </div>
                                    <div class="form-group">
                                        <input id="contactform_phone" type="text" placeholder="Phone*"
                                            class="form-control" name="phone">
                                    </div>
                                    <div class="form-group">
                                        <textarea id="contactform_message" class="form-control input-message"
                                            placeholder="Comment*" rows="7" name="message"></textarea>
                                    </div>
                                    <input type="hidden" name="action" value="sendEmail" />
                                    <button id="submit" name="submit" type="submit" value="Send" class="button red">
                                        Send your message <i class="fa fa-spinner fa-spin fa-fw btn-loader"
                                            style="display: none;"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="feature-box-3">
                        <div class="icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="content">
                            <h5>Address </h5>
                            <p>220E Front St. Burlington NC 215 </p>
                        </div>
                    </div>
                    <div class="feature-box-3">
                        <div class="icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="content">
                            <h5>Phone </h5>
                            <p>(007) 123 456 7890 </p>
                        </div>
                    </div>
                    <div class="feature-box-3">
                        <div class="icon">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                        <div class="content">
                            <h5>Email </h5>
                            <p> support@website.com </p>
                        </div>
                    </div>
                    <div class="opening-hours gray-bg">
                        <h6>opening hours</h6>
                        <ul class="list-style-none">
                            <li><strong>Sunday</strong> <span class="text-red"> closed</span></li>
                            <li><strong>Monday</strong> <span> 9:00 AM to 9:00 PM</span></li>
                            <li><strong>Tuesday </strong> <span> 9:00 AM to 9:00 PM</span></li>
                            <li><strong>Wednesday </strong> <span> 9:00 AM to 9:00 PM</span></li>
                            <li><strong>Thursday </strong> <span> 9:00 AM to 9:00 PM</span></li>
                            <li><strong>Friday </strong> <span> 9:00 AM to 9:00 PM</span></li>
                            <li><strong>Saturday </strong> <span> 9:00 AM to 9:00 PM</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=================================
 contact -->


    <!--=================================
 contact-map -->

    <section class="contact-map">
        <div class="container-fluid">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3224.017231421863!2d-79.43780268425046!3d36.09306798010035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88532bae09664ccb%3A0xaa6b8f98d3fb8135!2s220+E+Front+St%2C+Burlington%2C+NC+27215%2C+USA!5e0!3m2!1sen!2sin!4v1475045272926"
                allowfullscreen></iframe>
        </div>
    </section>

    <!--=================================
 contact-map -->


    <!--=================================
 footer -->

    {{ partial "footer.html" . }}

    <!--=================================
 footer -->



    <!--=================================
 back to top -->

    <div class="car-top">
        <span><img src="/images/car.png" alt=""></span>
    </div>

    <!--=================================
 back to top -->

    <!--=================================
 jquery -->

    <!-- jquery  -->
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>

    <!-- bootstrap -->
    <script type="text/javascript" src="/js/popper.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <!-- mega-menu -->
    <script type="text/javascript" src="/js/mega-menu/mega_menu.js"></script>

    <!-- select -->
    <script type="text/javascript" src="/js/select/jquery-select.js"></script>

    <!-- magnific popup -->
    <script type="text/javascript" src="/js/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- custom -->
    <script type="text/javascript" src="/js/custom.js"></script>

</body>

</html>