<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Car Dealer - The Best Car Dealer Automotive Responsive HTML5 Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Dealer Daihatsu | Contact</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" />

    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

    <!-- flaticon -->
    <link rel="stylesheet" type="text/css" href="/css/flaticon.css" />

    <!-- mega menu -->
    <link rel="stylesheet" type="text/css" href="/css/mega-menu/mega_menu.css" />

    <!-- mega menu -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />

    <!-- main style -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <!-- responsive -->
    <link rel="stylesheet" type="text/css" href="/css/responsive.css" />

</head>

<body>

    <!--=================================
  loading -->

    <div id="loading">
        <div id="loading-center">
            <img src="/images/loader.gif" alt="">
        </div>
    </div>

    <!--=================================
  loading -->


    <!--=================================
 header -->

    {{ partial "header.html" . }}

    <!--=================================
 header -->


    <!--=================================
 inner-intro -->

    <section class="inner-intro bg-1 bg-overlay-black-70">
        <div class="container">
            <div class="row text-center intro-title">
                <div class="col-md-6 text-md-left d-inline-block">
                    <h1 class="text-white">Contact us </h1>
                </div>
                <div class="col-md-6 text-md-right float-right">
                </div>
            </div>
        </div>
    </section>

    <!--=================================
 inner-intro -->


    <!--=================================
 contact -->

    <section class="contact-2 page-section-ptb white-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 justify-content-center">
                    <div class="section-title">
                        <span>We’d Love to Hear From You</span>
                        <h2>LET'S GET IN TOUCH!</h2>
                        <div class="separator"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-sm-12 mb-lg-0 mb-1">
                    <div class="gray-form row">
                        <div class="col-md-12">
                            <form class="form-horizontal" id="contactform" role="form" method="post"
                                action="php/contact-form.php">
                                <h5>We have completed over a 1000+ projects for five hundred clients. Give us your next
                                    project.</h5>
                                <p>It would be great to hear from you! If you got any questions, please do not hesitate
                                    to send us a message. We are looking forward to hearing from you! We reply within 24
                                    hours !</p>
                                <div id="formmessage" class="form-notice" style="display:none;">Success/Error Message
                                    Goes Here</div>
                                <div class="contact-form">
                                    <div class="form-group">
                                        <input id="contactform_name" type="text" placeholder="Name*"
                                            class="form-control" name="name">
                                    </div>
                                    <div class="form-group">
                                        <input id="contactform_email" type="email" placeholder="Email*"
                                            class="form-control" name="email">
                                    </div>
                                    <div class="form-group">
                                        <input id="contactform_phone" type="text" placeholder="Phone*"
                                            class="form-control" name="phone">
                                    </div>
                                    <div class="form-group">
                                        <textarea id="contactform_message" class="form-control input-message"
                                            placeholder="Comment*" rows="7" name="message"></textarea>
                                    </div>
                                    <input type="hidden" name="action" value="sendEmail" />
                                    <button id="submit" name="submit" type="submit" value="Send" class="button red">
                                        Send your message <i class="fa fa-spinner fa-spin fa-fw btn-loader"
                                            style="display: none;"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="feature-box-3">
                        <div class="icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="content">
                            <h5>Address </h5>
                            <p>Jl. Khatib Sulaiman No.101, Ulak Karang Utara, Kec. Padang Utara, Kota Padang, Sumatera
                                Barat 25133</p>
                        </div>
                    </div>
                    <div class="feature-box-3">
                        <div class="icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="content">
                            <h5>Phone </h5>
                            <p><a
                                    href="https://api.whatsapp.com/send?phone=+6281276977616&text=Selamat%20datang%20di%20Dealer%20Daihatsu%0AApakah%20ada%20yang%20bisa%20dibantu">0812-7697-
                                    7616</a></p>
                        </div>
                    </div>
                    <div class="feature-box-3">
                        <div class="icon">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                        <div class="content">
                            <h5>Email </h5>
                            <p> <a href="maito:perdanadiky58@gmail.com"> perdanadiky58@gmail.com</a> </p>
                        </div>
                    </div>
                    <div class="opening-hours gray-bg">
                        <h6>opening hours</h6>
                        <ul class="list-style-none">
                            <li><strong>Minggu</strong> <span class="text-red"> Tutup</span></li>
                            <li><strong>Senin</strong> <span> 08.00 - 17:00 </span></li>
                            <li><strong>Selasa </strong> <span>08.00 - 17:00</span></li>
                            <li><strong>Rabu </strong> <span>08.00 - 17:00</span></li>
                            <li><strong>Kamis </strong> <span>08.00 - 17:00</span></li>
                            <li><strong>Jum'at </strong> <span>08.00 - 17:00</span></li>
                            <li><strong>Sabtu </strong> <span>08.00 - 17:00</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=================================
 contact -->


    <!--=================================
 contact-map -->

    <section class="contact-map">
        <div class="container-fluid">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15957.268879320141!2d100.34424215555187!3d-0.9080882147662082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2fd4b9e0e9b3d52d%3A0xa3df48af72682842!2sAstra%20Daihatsu%20Padang!5e0!3m2!1sid!2sid!4v1637207335951!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="on" loading="lazy"></iframe>
        </div>
    </section>

    <!--=================================
 contact-map -->


    <!--=================================
 footer -->

    {{ partial "footer.html" . }}

    <!--=================================
 footer -->



    <!--=================================
 back to top -->

    <div class="car-top">
        <span><img src="/images/car.png" alt=""></span>
    </div>

    <!--=================================
 back to top -->

    <!--=================================
 jquery -->

    <!-- jquery  -->
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>

    <!-- bootstrap -->
    <script type="text/javascript" src="/js/popper.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <!-- mega-menu -->
    <script type="text/javascript" src="/js/mega-menu/mega_menu.js"></script>

    <!-- select -->
    <script type="text/javascript" src="/js/select/jquery-select.js"></script>

    <!-- magnific popup -->
    <script type="text/javascript" src="/js/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- custom -->
    <script type="text/javascript" src="/js/custom.js"></script>

</body>

</html>