<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body>

    <!--=================================
  loading -->

    <div id="loading">
        <div id="loading-center">
            <img src="/images/loader.gif" alt="">
        </div>
    </div>

    <!--=================================
  loading -->


    <!--=================================
 header -->

    {{ partial "header.html" . }}

    <!--=================================
 header -->


    <!--=================================
 inner-intro -->

    <section class="inner-intro bg-1 bg-overlay-black-70">
        <div class="container">
            <div class="row text-center intro-title">
                <div class="col-md-6 text-md-left d-inline-block">
                    <h1 class="text-white">product listing  {{ .Title }}</h1>
                </div>
                <div class="col-md-6 text-md-right float-right">
                    <ul class="page-breadcrumb">
                        <li><a href="/"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i>
                        </li>
                        <li><a href="/price-list">Price List</a> <i class="fa fa-angle-double-right"></i></li>
                        <li><span> {{ .Title }}</span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!--=================================
 inner-intro -->


    <!--=================================
product-listing  -->

    <section class="product-listing page-section-ptb">
        <div class="container">
            <h4>Harga dapat berubah kapan saja tanpa ada pemberitahuan!!</h4>
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    {{ range .Pages  }}
                    <div class="car-grid">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <div class="car-item gray-bg text-center">
                                    <div class="car-image">
                                        <img class="img-fluid" src="{{ .Params.image }}" alt="">
                                        <div class="car-overlay-banner">
                                            <ul>
                                                <li><a href="{{ .Permalink }}"><i class="fa fa-link"></i></a></li>
                                                <li><a
                                                        href="https://api.whatsapp.com/send?phone=+6281276977616&text=Selamat%20datang%20di%20Dealer%20Daihatsu%0Mobil%20{{ .Title }}%20Ingin%20Menanyakan%20Harga?" target="_blank">
                                                        <i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <div class="car-details">
                                    <div class="car-title">
                                        <a href="#">{{ .Title }}</a>
                                        <p>{{ .Params.detail }}</p>
                                    </div>
                                    <div class="price">
                                        <h6>Harga Mulai</h6>
                                        <span class="new-price">{{ .Params.harga }}</span>
                                        <a class="button red float-right" href="{{ .Permalink }}">Details</a>
                                    </div>
                                    <!-- <div class="car-list">
                                        <ul class="list-inline">
                                            <li><i class="fa fa-registered"></i> 2016</li>
                                            <li><i class="fa fa-cog"></i> Manual </li>
                                            <li><i class="fa fa-shopping-cart"></i> 6,000 mi</li>
                                        </ul>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                    {{ partial "pagination.html" . }}
                </div>
                <div class="col-lg-3 col-md-4">
                    <!--  -->
                </div>
            </div>
        </div>
    </section>

    <!--=================================
product-listing  -->


    <!--=================================
 footer -->

    {{ partial "footer.html" . }}

    <!--=================================
 footer -->



    <!--=================================
 back to top -->

    <div class="car-top">
        <span><img src="/images/car.png" alt=""></span>
    </div>

    <!--=================================
 back to top -->

    <!--=================================
 jquery -->
    {{ partial "commponent.html" . }}

</body>

</html>