<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body>

    <!--=================================
  loading -->

    <div id="loading">
        <div id="loading-center">
            <img src="/images/loader3.gif" alt="">
        </div>
    </div>

    <!--=================================
  loading -->


    <!--================================= header -->

    {{ partial "header.html" . }}

    <!--================================= header -->

    <section class="inner-intro bg-1 bg-overlay-black-70">
        <div class="container">
            <div class="row text-center intro-title">
                <div class="col-md-6 text-md-left d-inline-block">
                    <h1 class="text-white">Testimoni</h1>
                </div>
                <div class="col-md-6 text-md-right float-right">
                </div>
            </div>
        </div>
    </section>

    <!--================================= welcome -->

    <section class="page-section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8">
                    <div class="content-box text-center">
                        <div class="box-info h-100">
                            <img width="100%" height=""
                                src="/images/testimonial/38a679e7-951f-45e6-a1f7-51d27c782bf3.jpeg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8">
                    <div class="content-box text-center">
                        <div class="box-info h-100">
                            <img width="100%" height=""
                                src="/images/testimonial/dc60178e-c8e0-4d9d-a4d1-b8b5c6e22b08.jpeg" alt="">
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-8">
                    <div class="content-box text-center">
                        <div class="box-info h-100">
                            <img width="100%" height=""
                                src="/images/testimonial/f2f60bd2-9d32-452d-9144-c2178bb29667.jpeg" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-8">
                    <div class="content-box text-center">
                        <div class="box-info h-100">
                            <img width="100%" height=""
                                src="/images/testimonial/61939257-e319-407c-86b2-61dc3bec4737.jpeg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8">
                    <div class="content-box text-center">
                        <div class="box-info h-100">
                            <img width="100%" height=""
                                src="/images/testimonial/6970e188-86ec-4563-9b9e-a405b3f954a1.jpeg" alt="">
                        </div>
                    </div>
                </div>
               
                <div class="col-lg-6 col-md-8">
                    <div class="content-box text-center">
                        <div class="box-info h-100">
                            <img width="100%" height=""
                                src="/images/testimonial/d47f11d8-c12f-4899-b006-f228f5b42130.jpeg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8">
                    <div class="content-box text-center">
                        <div class="box-info h-100">
                            <img width="100%" height=""
                                src="/images/testimonial/d1f1231b-be16-42c0-a47f-4f1692ed040a.jpeg" alt="">
                        </div>
                    </div>
                </div>
               
                <div class="col-lg-6 col-md-8">
                    <div class="content-box text-center">
                        <div class="box-info h-100">
                            <img width="100%" height=""
                                src="/images/testimonial/1084282f-aed3-4719-aaef-b6c2423175a3.jpeg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8">
                    <div class="content-box text-center">
                        <div class="box-info h-100">
                            <img width="100%" height=""
                                src="/images/testimonial/f45a02b1-5dfa-45f5-8f5d-833a3f49ff9a.jpeg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8">
                    <div class="content-box text-center">
                        <div class="box-info h-100">
                            <img width="100%" height=""
                                src="/images/testimonial/16b13991-d408-4cb2-a694-0aff4dbead70.jpeg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--================================= welcome -->

    <!--=================================testimonial -->

    <section class="testimonial-2 bg-1 bg-overlay-black-70 page-section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <span class="text-white">Hubungi kami jika ada pertanyaan yang akan di ajukan</span>
                        <h2 class="text-white">Kontak Kami </h2>
                        <div class="separator"></div>
                    </div>
                </div>
            </div>
            <div class="testimonial-center">
                <div class="" data-nav-dots="true" data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1"
                    data-space="30">
                    <div class="item">
                        <div class="testimonial-block">
                            <div class="testimonial-content">
                                <i class="fa fa-quote-left"></i>
                                <p> Sebagai sahabat bangsa Indonesia, Daihatsu berkomitmen untuk terus berinovasi
                                    menghasilkan produk dan memberikan pelayanan terbaik sesuai dengan kebutuhan
                                    masyarakat, untuk menjadikan hidup orang lebih baik melalui mobilitas dan
                                    konektivitas.
                                </p>
                            </div>
                            <div class="testimonial-info">
                                <div class="testimonial-avatar">
                                    <img class="img-fluid" src="/images/team/826d5ff0-4831-4d76-a74d-2a1e4b3b1dc1.jpeg"
                                        alt="">
                                </div>
                                <div class="testimonial-name">
                                    <h6 class="text-white"> DIKY PERDANA</h6>
                                    <span>| Sales Force</span> <br>
                                    <h6 class="text-white"> WhatsApp</h6>
                                    <span>| <a
                                            href="https://api.whatsapp.com/send?phone=+6281276977616&text=Selamat%20datang%20di%20Dealer%20Daihatsu%0AApakah%20ada%20yang%20bisa%20dibantu">0812-7697-
                                            7616</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--================================= testimonial -->

    <!--================================= our-clients -->

    <section class="our-clients gray-bg page-section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel" data-items="5" data-md-items="5" data-sm-items="3" data-xs-items="1"
                        data-space="0">
                        <div class="item">
                            <img class="img-fluid" src="/images/slider/1628862045573.webp" alt="">
                        </div>
                        <div class="item">
                            <img class="img-fluid" src="/images/slider/granmaxmb.webp" alt="">
                        </div>
                        <div class="item">
                            <img class="img-fluid" src="/images/slider/granmax.webp" alt="">
                        </div>
                        <div class="item">
                            <img class="img-fluid" src="/images/slider/terios.webp" alt="">
                        </div>
                        <div class="item">
                            <img class="img-fluid" src="/images/slider/rocky.png" alt="">
                        </div>
                        <div class="item">
                            <img class="img-fluid" src="/images/slider/ayla.webp" alt="">
                        </div>
                        <div class="item">
                            <img class="img-fluid" src="/images/slider/sirion.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <!--================================= our-clients -->


    <!--================================= footer -->

    {{ partial "footer.html" . }}

    <!--================================= footer -->



    <!--================================= back to top -->

    <div class="car-top">
        <span><img src="/images/car.png" alt=""></span>
    </div>

    <!--=================================
 back to top -->


    <!--=================================
 jquery -->

    <!-- jquery  -->
    {{ partial "commponent.html" . }}

</body>

</html>