<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body>

    <!--=================================
  loading -->

    <div id="loading">
        <div id="loading-center">
            <img src="/images/loader3.gif" alt="">
        </div>
    </div>

    <!--=================================
  loading -->


    <!--=================================
 header -->

    {{ partial "header.html" . }}

    <!--=================================
 header -->


    <!--=================================
 rev slider -->

    <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="car-dealer-04"
        data-source="gallery"
        style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
        <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-5" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                    data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"
                    data-thumb="/revolution/assets/100x50_75b06-bg-1.jpg" data-rotate="0" data-saveperformance="off"
                    data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5=""
                    data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/revolution/assets/75b06-bg-1.jpg" alt="" data-bgposition="center center"
                        data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg"
                        data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-5-layer-4" data-x="10"
                        data-y="361" data-width="['auto']" data-height="['auto']" data-type="text"
                        data-responsive_offset="on"
                        data-frames='[{"delay":1450,"speed":1650,"frame":"0","from":"x:left;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                        data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                        style="z-index: 5; white-space: nowrap; font-size: 120px; line-height: 120px; font-weight: 900; color: rgba(255, 255, 255, 1.00);font-family:Roboto;text-transform:uppercase;">
                        Anda </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" id="slide-5-layer-2" data-x="14"
                        data-y="299" data-width="['auto']" data-height="['auto']" data-type="text"
                        data-responsive_offset="on"
                        data-frames='[{"delay":1410,"speed":1740,"frame":"0","from":"y:top;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                        data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                        style="z-index: 6; white-space: nowrap; font-size: 50px; line-height: 50px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Roboto;">
                        Dapakan mobil Impian</div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" id="slide-5-layer-7" data-x="right"
                        data-hoffset="50" data-y="bottom" data-voffset="350" data-width="['none','none','none','none']"
                        data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on"
                        data-frames='[{"delay":3170,"speed":900,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                        data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                        style="z-index: 7;"><img src="/images/logo.png" alt="" data-ww="auto" data-hh="auto"
                            data-no-retina> </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption   tp-resizeme" id="slide-5-layer-3" data-x="center" data-hoffset="16"
                        data-y="bottom" data-voffset="118" data-width="['none','none','none','none']"
                        data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on"
                        data-frames='[{"delay":360,"speed":1600,"frame":"0","from":"x:right;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:left;","ease":"nothing"}]'
                        data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                        style="z-index: 8;"><img src="/images/car/rocky-daihatsu-new.png" alt="" data-ww="auto"
                            data-hh="auto" data-no-retina> </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-5-layer-5" data-x="right"
                        data-hoffset="14" data-y="bottom" data-voffset="50" data-width="['auto']" data-height="['auto']"
                        data-type="text" data-responsive_offset="on"
                        data-frames='[{"delay":1450,"speed":1650,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                        data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                        style="z-index: 9; white-space: nowrap; font-size: 120px; line-height: 120px; font-weight: 900; color: rgba(255, 255, 255, 1.00);font-family:Roboto;text-transform:uppercase;">
                        Sekarang </div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption button red rs-parallaxlevel-1" id="slide-5-layer-8" data-x="14"
                        data-y="bottom" data-voffset="39" data-width="['auto']" data-height="['auto']"
                        data-type="button" data-responsive_offset="on"
                        data-frames='[{"delay":3990,"speed":600,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","force":true,"to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(219, 45, 46, 1.00);bc:rgba(0, 0, 0, 1.00);bs:solid;bw:0 0 0 0;"}]'
                        data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]"
                        data-paddingright="[30,30,30,30]" data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[30,30,30,30]"
                        style="z-index: 10; white-space: nowrap; font-size: 14px; line-height: 16px; font-weight: 400; font-family:Open Sans;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                        Explore now </div>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-6" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                    data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"
                    data-thumb="/revolution/assets/100x50_1b65c-bg-2.jpg" data-rotate="0" data-saveperformance="off"
                    data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5=""
                    data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/revolution/assets/1b65c-bg-2.jpg" alt="" data-bgposition="center center"
                        data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg"
                        data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-6-layer-4" data-x="12"
                        data-y="301" data-width="['auto']" data-height="['auto']" data-type="text"
                        data-responsive_offset="on"
                        data-frames='[{"delay":1450,"speed":1650,"frame":"0","from":"x:left;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                        data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                        style="z-index: 5; white-space: nowrap; font-size: 100px; line-height: 150px; font-weight: 900; color: rgba(255, 255, 255, 1.00);font-family:Roboto;text-transform:uppercase;">
                        drive me </div>

                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" id="slide-6-layer-2" data-x="14"
                        data-y="250" data-width="['auto']" data-height="['auto']" data-type="text"
                        data-responsive_offset="on"
                        data-frames='[{"delay":1410,"speed":1740,"frame":"0","from":"y:top;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                        data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                        style="z-index: 6; white-space: nowrap; font-size: 50px; line-height: 50px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Roboto;">
                        Daihatsu </div>

                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" id="slide-6-layer-7" data-x="right"
                        data-hoffset="50" data-y="bottom" data-voffset="350" data-width="['none','none','none','none']"
                        data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on"
                        data-frames='[{"delay":3170,"speed":900,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                        data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                        style="z-index: 7;"><img src="/images/logo.png" alt="" data-ww="auto" data-hh="auto"
                            data-no-retina> </div>

                    <!-- LAYER NR. 10 -->
                    <div class="tp-caption   tp-resizeme" id="slide-6-layer-3" data-x="center" data-hoffset="-3"
                        data-y="center" data-voffset="109" data-width="['none','none','none','none']"
                        data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on"
                        data-frames='[{"delay":360,"speed":1600,"frame":"0","from":"x:right;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:left;","ease":"nothing"}]'
                        data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                        style="z-index: 8;"><img src="/images/car/terios-daihatsu.png" alt="" data-ww="auto"
                            data-hh="auto" data-no-retina> </div>

                    <!-- LAYER NR. 11 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-6-layer-5" data-x="right"
                        data-hoffset="10" data-y="bottom" data-voffset="109" data-width="['auto']"
                        data-height="['auto']" data-type="text" data-responsive_offset="on"
                        data-frames='[{"delay":1450,"speed":1650,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                        data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                        style="z-index: 9; white-space: nowrap; font-size: 100px; line-height: 100px; font-weight: 900; color: rgba(255, 255, 255, 1.00);font-family:Roboto;text-transform:uppercase;">
                        but fast! </div>

                    <!-- LAYER NR. 12 -->
                    <div class="tp-caption button red rs-parallaxlevel-1" id="slide-6-layer-8" data-x="10"
                        data-y="bottom" data-voffset="39" data-width="['auto']" data-height="['auto']"
                        data-type="button" data-responsive_offset="on"
                        data-frames='[{"delay":3990,"speed":600,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","force":true,"to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(219, 45, 46, 1.00);bc:rgba(0, 0, 0, 1.00);bs:solid;bw:0 0 0 0;"}]'
                        data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]"
                        data-paddingright="[30,30,30,30]" data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[30,30,30,30]"
                        style="z-index: 10; white-space: nowrap; font-size: 14px; line-height: 16px; font-weight: 400; font-family:Open Sans; outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                        Discover More </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>

    <!--=================================  rev slider -->


    <!--================================= welcome -->

    <section class="welcome-2 page-section-ptb bg-4">
        <div class="container">
            <!-- <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="content-box text-center">
                        <div class="box-info h-100">
                            <i class="glyph-icon flaticon-beetle"></i>
                            <h5>New Vehicles</h5>
                            <p>Get yourself nice and relaxed and settled. Concentrate on your breathing, engage in the
                            </p>
                        </div>
                        <a href="#">Read more</a>
                        <div class="content-box-img"
                            style="background-image: url('/images/car/daihatsu-advanture.jpg');"></div>
                        <span class="border"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="content-box text-center active">
                        <div class="box-info h-100">
                            <i class="glyph-icon flaticon-electrical-service"></i>
                            <h5>Vehicles Service</h5>
                            <p> about something that you know you need to be doing, but are not. Then with that thing
                            </p>
                        </div>
                        <a href="#">Read more</a>
                        <div class="content-box-img" style="background-image: url('/images/car/02.jpg');"></div>
                        <span class="border"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="content-box text-center">
                        <div class="box-info h-100">
                            <i class="glyph-icon flaticon-reparation"></i>
                            <h5>Vehicles Parts</h5>
                            <p>You will begin to realize why this exercise is called the Dickens Pattern reference</p>
                        </div>
                        <a href="#">Read more</a>
                        <div class="content-box-img"
                            style="background-image: url('/images/car/daihatsu-advanture.jpg');"></div>
                        <span class="border"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="content-box text-center">
                        <div class="box-info h-100">
                            <i class="glyph-icon flaticon-car"></i>
                            <h5>Old Vehicles</h5>
                            <p>Scrooge some different futures as you notice that the idea of this exercise is hypnotize
                            </p>
                        </div>
                        <a href="#">Read more</a>
                        <div class="content-box-img" style="background-image: url('/images/car/04.jpg');"></div>
                        <span class="border"></span>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="custom-block-2">
                        <h4>Selamat Datang di Dealer Daihatsu</h4>
                        <span>Daihatsu Sahabatku </span>
                        <p> <strong> Daihatsu Motor Co., Ltd.</strong> adalah perusahaan mobil Jepang tertua, yang
                            dikenal dengan produk
                            mobil-mobilnya yang berukuran kecil/kompak. Daihatsu berkantor pusat di Ikeda, Prefektur
                            Osaka.</p>
                        <div class="ceo">
                            <p> Kousuke Shiramizu</p>
                            <strong class="text-red">Chairman</strong>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="counter counter-style-1 counter-light">
                        <ul class="list-style-none">
                            <li>
                                <div class="counter-box text-right">
                                    <div class="info">
                                        <b class="timer" data-to="400" data-speed="10000"></b>
                                        <h6 class="text-black">Vehicles Stock</h6>
                                    </div>
                                    <div class="icon">
                                        <i class="glyph-icon flaticon-beetle"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="counter-box text-left">
                                    <div class="icon">
                                        <i class="glyph-icon flaticon-interface"></i>
                                    </div>
                                    <div class="info">
                                        <b class="timer" data-to="1000" data-speed="10000"></b>
                                        <h6 class="text-black">Dealer Reviews</h6>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="counter-box text-right">
                                    <div class="info">
                                        <b class="timer" data-to="1500" data-speed="10000"></b>
                                        <h6 class="text-black">Happy Customer</h6>
                                    </div>
                                    <div class="icon">
                                        <i class="glyph-icon flaticon-circle"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="counter-box text-left">
                                    <div class="icon">
                                        <i class="glyph-icon flaticon-cup"></i>
                                    </div>
                                    <div class="info">
                                        <b class="timer" data-to="450" data-speed="10000"></b>
                                        <h6 class="text-black">Awards</h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=================================
 welcome -->


    <!--=================================
 feature-car -->

    <section class="feature-car white-bg page-section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <span>Pilihan Mobil Daihatsu untuk Anda</span>
                        <h2>Mobil Daihatsu </h2>
                        <div class="separator"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme" data-nav-arrow="true" data-items="4" data-md-items="4"
                        data-sm-items="2" data-xs-items="1" data-space="15">
                        {{ range .Site.Taxonomies.pages.car  }}
                        <div class="item">
                            <div class="car-item gray-bg text-center">
                                <div class="car-image">
                                    <img class="img-fluid" style="height: 200px; max-height: 100%;"
                                        src="{{ .Params.image }}" alt="">
                                    <div class="car-overlay-banner">
                                        <ul>
                                            <li><a href="{{ .Permalink }}"><i class="fa fa-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="car-list">
                                    <ul class="list-inline">
                                        <li><i class="fa fa-registered"></i> 2017</li>
                                        <li><i class="fa fa-cog"></i> Manual </li>
                                        <li><i class="fa fa-dashboard"></i> 6,000 mi</li>
                                    </ul>
                                </div>
                                <div class="car-content">
                                    <div class="star">
                                        <i class="fa fa-star orange-color"></i>
                                        <i class="fa fa-star orange-color"></i>
                                        <i class="fa fa-star orange-color"></i>
                                        <i class="fa fa-star orange-color"></i>
                                        <i class="fa fa-star-o orange-color"></i>
                                    </div>
                                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                                    <div class="separator"></div>
                                    <div class="price">
                                        <span class="new-price">Harga mulai <br> {{ .Params.harga }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=================================
 feature-car -->


    <!--=================================
testimonial -->

    <section class="testimonial-2 bg-1 bg-overlay-black-70 page-section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <span class="text-white">Hubungi kami jika ada pertanyaan yang akan di ajukan</span>
                        <h2 class="text-white">Kontak Kami </h2>
                        <div class="separator"></div>
                    </div>
                </div>
            </div>
            <div class="testimonial-center">
                <div class="" data-nav-dots="true" data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1"
                    data-space="30">
                    <div class="item">
                        <div class="testimonial-block">
                            <div class="testimonial-content">
                                <i class="fa fa-quote-left"></i>
                                <p> Sebagai sahabat bangsa Indonesia, Daihatsu berkomitmen untuk terus berinovasi
                                    menghasilkan produk dan memberikan pelayanan terbaik sesuai dengan kebutuhan
                                    masyarakat, untuk menjadikan hidup orang lebih baik melalui mobilitas dan
                                    konektivitas. Info pelayanan mobil daihatsu. Pembelian cash dan kredit, tes drive
                                    dan servis
                                </p>
                            </div>
                            <div class="testimonial-info">
                                <div class="testimonial-avatar">
                                    <img class="img-fluid" src="/images/team/826d5ff0-4831-4d76-a74d-2a1e4b3b1dc1.jpeg"
                                        alt="">
                                </div>
                                <div class="testimonial-name">
                                    <h6 class="text-white"> DIKY PERDANA</h6>
                                    <span>| Sales Force</span> <br>
                                    <h6 class="text-white"> WhatsApp</h6>
                                    <span>| <a
                                            href="https://api.whatsapp.com/send?phone=+6281276977616&text=Selamat%20datang%20di%20Dealer%20Daihatsu%0AApakah%20ada%20yang%20bisa%20dibantu">0812-7697-
                                            7616</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=================================
 testimonial -->


    <!--=================================
 why choose us  -->

    <!-- <section class="why-choose page-section-pt">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <span>Because We are ultra creative agency</span>
                        <h2>Why Choose us </h2>
                        <div class="separator"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="feature-box text-center">
                        <div class="icon">
                            <i class="glyph-icon flaticon-beetle"></i>
                        </div>
                        <div class="content">
                            <h6>ALL BRANDS</h6>
                            <p>Printin lorem Ipsum is simply dummy text of the k a galley of type and</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature-box text-center">
                        <div class="icon">
                            <i class="glyph-icon flaticon-interface-1"></i>
                        </div>
                        <div class="content">
                            <h6>Free Support</h6>
                            <p>Aliquid illo similique minima magni quidem sequi corporis fugiat type and</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature-box text-center">
                        <div class="icon">
                            <i class="glyph-icon flaticon-key"></i>
                        </div>
                        <div class="content">
                            <h6>DEALERSHIP</h6>
                            <p>Similique minima magni quidem aliquid illo sequi corporis fugiat type and </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature-box text-center">
                        <div class="icon">
                            <i class="glyph-icon flaticon-wallet"></i>
                        </div>
                        <div class="content">
                            <h6>AFFORDABLE</h6>
                            <p>Magni quidem aliquid illo sequi similique minima corporis fugiat type </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="feature-box text-center">
                        <div class="icon">
                            <i class="glyph-icon flaticon-gas-station"></i>
                        </div>
                        <div class="content">
                            <h6>OIL CHANGES</h6>
                            <p>The printin lorem Ipsum is simply dummy text of k a galley of type and</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature-box text-center">
                        <div class="icon">
                            <i class="glyph-icon flaticon-air-conditioning"></i>
                        </div>
                        <div class="content">
                            <h6>AIR conditioning</h6>
                            <p> Galley of type lorem Ipsum is simply dummy text of the printin k a type</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature-box text-center">
                        <div class="icon">
                            <i class="glyph-icon flaticon-electrical-service"></i>
                        </div>
                        <div class="content">
                            <h6>AUTO ELECTRIC</h6>
                            <p>Simply dummy lorem Ipsum is text of the printin k a galley of type and</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature-box text-center">
                        <div class="icon">
                            <i class="glyph-icon flaticon-gearstick"></i>
                        </div>
                        <div class="content">
                            <h6>transmission</h6>
                            <p>Dolorem voluptates is simply dummy text of the printin k a galley of type</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <!--=================================
 feature-car -->


    <!--=================================
our-clients -->

    <section class="our-clients gray-bg page-section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel" data-items="5" data-md-items="5" data-sm-items="3" data-xs-items="1"
                        data-space="0">
                        <div class="item">
                            <img class="img-fluid" src="/images/slider/1628862045573.webp" alt="">
                        </div>
                        <div class="item">
                            <img class="img-fluid" src="/images/slider/granmaxmb.webp" alt="">
                        </div>
                        <div class="item">
                            <img class="img-fluid" src="/images/slider/granmax.webp" alt="">
                        </div>
                        <div class="item">
                            <img class="img-fluid" src="/images/slider/terios.webp" alt="">
                        </div>
                        <div class="item">
                            <img class="img-fluid" src="/images/slider/rocky.png" alt="">
                        </div>
                        <div class="item">
                            <img class="img-fluid" src="/images/slider/ayla.webp" alt="">
                        </div>
                        <div class="item">
                            <img class="img-fluid" src="/images/slider/sirion.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <!--================================= our-clients -->


    <!--================================= footer -->

    {{ partial "footer.html" . }}

    <!--================================= footer -->



    <!--================================= back to top -->

    <div class="car-top">
        <span><img src="/images/car.png" alt=""></span>
    </div>

    <!--=================================
 back to top -->


    <!--=================================
 jquery -->

    <!-- jquery  -->
    {{ partial "commponent.html" . }}

</body>

</html>