<footer class="footer bg-1 bg-overlay-black-90">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="social">
                    <ul>
                        <li><a class="facebook"
                                href="https://www.facebook.com/Mobil-Murah-Astra-Daihatsu-Padang-Sumbar-726809524738140/">facebook
                                <i class="fa fa-facebook"></i> </a></li>
                        <li><a class="twitter" href="https://twitter.com/DaihatsuInd">twitter <i
                                    class="fa fa-twitter"></i> </a></li>
                        <li><a class="instagram" href="https://www.instagram.com/daihatsuind/">Instagram <i
                                    class="fa fa-instagram"></i> </a></li>
                        <li><a class="youtube" href="https://www.youtube.com/user/DaihatsuSahabatku">Youtube <i
                                    class="fa fa-youtube-play"></i> </a></li>
                        <li><a class="google-plus" href="mailto:perdanadiky58@gmail.com">Gmail<i
                                    class="fa fa-google-plus"></i> </a></li>
                        <li><a class="behance"
                                href="https://api.whatsapp.com/send?phone=+6281276977616&text=Selamat%20datang%20di%20Dealer%20Daihatsu%0AApakah%20ada%20yang%20bisa%20dibantu">
                                WhatsApp<i class="fa fa-whatsapp"></i> </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr />
        <div class="copyright">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="text-lg-left text-center">
                        <p>©Copyright <span id="demo"></span>
                            <script>
                                const d = new Date();
                                let year = d.getFullYear();
                                document.getElementById("demo").innerHTML = year;
                            </script> Dealer Daihatsu Developed by <a href="http:/www.tdfprogramming.com/"
                                target="_blank">TDF Programming</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <ul class="list-inline text-lg-right text-center">
                        <li><a href="#">privacy policy </a> | </li>
                        <li><a href="#">terms and conditions </a> |</li>
                        <li><a href="#">contact us </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>