<header id="header" class="defualt">
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="topbar-left text-lg-left text-center">
                        <ul class="list-inline">
                            <li> <i class="fa fa-envelope-o"> </i> perdanadiky58@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="topbar-right text-lg-right text-center">
                        <ul class="list-inline">
                            <li> <i class="fa fa-phone"></i> <a href="tel:081276977616">+62 812-7697-7616</a> </li>
                            <li><a href="https://web.facebook.com/daihatsuindonesia"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://twitter.com/DaihatsuInd"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/daihatsuind/"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li><a href="https://www.youtube.com/user/DaihatsuSahabatku"><i
                                        class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--=================================
mega menu -->

    <div class="menu">
        <!-- menu start -->
        <nav id="menu" class="mega-menu">
            <!-- menu list items container -->
            <section class="menu-list-items">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- menu logo -->
                            <ul class="menu-logo">
                                <li>
                                    <a href="/"><img id="logo_img" src="/images/daihatsu-logo.55d429db.svg" alt="logo">
                                    </a>
                                </li>
                            </ul>
                            <!-- menu links -->
                            <ul class="menu-links">
                                <!-- active class -->
                                <li><a href="/"> Home </a>
                                <li><a href="/about"> About </a>
                                <li><a href="/contact"> Contact </a>

                                <li><a href="javascript:void(0)">Product <i
                                            class="fa fa-angle-down fa-indicator"></i></a>
                                    <ul class="drop-down-multilevel">
                                        {{ range .Site.Taxonomies.pages.car  }}
                                        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                                        {{ end }}
                                    </ul>
                                </li>
                                <li><a href="/price-list"> Price List </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </nav>
        <!-- menu end -->
    </div>
</header>